PORT=3005
MONGODB_URI=mongodb://mongodb:27017/payment_db
JWT_SECRET=healthcare_jwt_secret_2026
PAYPAL_CLIENT_ID=your_paypal_sandbox_client_id
PAYPAL_CLIENT_SECRET=your_paypal_sandbox_client_secret
PAYPAL_MODE=sandbox
APPOINTMENT_SERVICE_URL=http://appointment-service:3003
