PORT=3003
MONGODB_URI=mongodb://mongodb:27017/appointment_db
JWT_SECRET=healthcare_jwt_secret_2026
DOCTOR_SERVICE_URL=http://doctor-service:3002
PATIENT_SERVICE_URL=http://patient-service:3001
NOTIFICATION_SERVICE_URL=http://notification-service:3006
