PORT=3000
JWT_SECRET=healthcare_jwt_secret_2026
PATIENT_SERVICE_URL=http://patient-service:3001
DOCTOR_SERVICE_URL=http://doctor-service:3002
APPOINTMENT_SERVICE_URL=http://appointment-service:3003
TELEMEDICINE_SERVICE_URL=http://telemedicine-service:3004
PAYMENT_SERVICE_URL=http://payment-service:3005
NOTIFICATION_SERVICE_URL=http://notification-service:3006
AI_SYMPTOM_SERVICE_URL=http://ai-symptom-checker:3007
